.product {
  background-color: var(--color-dark--1);
  min-height: 100vh;
}

.product section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7rem;
  align-items: center;
  padding: 10px;
}

.product img {
  width: 100%;
}
@media (max-width: 800px) {
  .product section {
    grid-template-columns: 1fr;
  }
  .product img {
    grid-area: 2;
  }
}
.product h2 {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 3rem;
}

.product p {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.product section a {
  margin-top: 2rem;
}
